.table__header{
    margin-top: 30px;

    &-heading{
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.table__body{
    margin-top: 14px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead th{
    background-color: rgb(58, 182, 161);
    color: #fff;
    font-weight: 600;
}

th, td{
    border: 1px solid #ddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

.btn-success{
    background: green;
    color: white;
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: 10px;
}

.btn-error{
    background: rgb(216, 8, 8);
    color: white;
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: 10px;
}

.btn-edit{
    padding: 10px;
    background: #ffc107;
    border-radius: 10px;
}

.btn-delete{
    padding: 10px;
    background: #ce1f1f;
    border-radius: 10px;
    color: white;
}

.add-user{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    
}
